<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.impaktek.impak_thermal_printer.impak_thermal_printer">
    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    
    <!-- USB permissions -->
    <uses-feature android:name="android.hardware.usb.host" />
</manifest>
